.App {
  text-align: center;
}

body {
  overflow: hidden; /* Hide scrollbars */
  background-color: #DAFFEF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputContainer {
  margin-top: 45vh;
  margin-left: 36vw;
}

.restartBtn {
  z-index: 10;
  position: absolute;
  left: 40vw;
  top: 40vh;
}

.divOfCanvas {
  display: inline-block;
  width: 50vw;
}

.mainDiv{
  width: 100vw;
  height: 100vh;
  background-color: #DAFFEF;
}

.canvasDiv {
  position: absolute;
  z-index: 0;
}

.searchingText {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.5rem;
  text-align: center;
  top: 5vh;
  width: 100vw;
}

.findNewMatchBtn {
  margin-left: 45vw;
  margin-top: 48vh;
  position: absolute;
  z-index: 100;
  width: 10vw;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #272635;
  height: 35px;
  box-shadow: 3px 3px 5px #27263550;
}

.changeUserNameBtn {
  margin-left: 45vw;
  margin-top: 56vh;
  position: absolute;
  z-index: 100;
  width: 10vw;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #272635;
  height: 35px;
  box-shadow: 3px 3px 5px #27263550;
}

.findMatchButton {
  width: 8vw;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #272635;
  margin-top: 30px;
  height: 35px;
  margin-left: 5.8vw;
  box-shadow: 3px 3px 5px #27263550;
}

.gameOverDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.336);
  filter: blur(2px);
}

.mazeGame {
  z-index: 0;
}

.gameResultsAndPlayAgain {
  z-index: 100;
  height: 100vh;
  width: 100vw;
}

.gameOverDivContainer {
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.findMatchButton:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #272635cc;
}

.findNewMatchBtn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #272635cc;
}

.changeUserNameBtn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #272635cc;
}

.usernameLbl {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  position: absolute;
  top: 6vh;
  left: 10vw;
}

.winnerTxt {
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  top: 30vh;
}

.oppUsernameLbl {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  position: absolute;
  top: 6vh;
  left: 60vw;
}

.usernamInput {
  color: #272635;
  border: solid;
  border-color: #272635;
  border-radius: 13px;
  border-width: 1.5px;
  width: 20vw;
  height: 30px;
  font-size: 1.45rem;
  text-align: left;
  padding-left: 15px;
  font-weight: 600;
  background-color: #DAFFEF;
  box-shadow: 3px 3px 5px #27263550;
  font-family: 'Courier New', Courier, monospace;
}

.mainDivider {
  width: .1vw;
  position: absolute;
  left: 49.95vw;
  top: 6vh;
  height: 88vh;
  z-index: 10;
  background-color: #000;
  color: black;
}

.usernamInput:hover {
  width: 20.5vw;
  height: 31px;
  box-shadow: 4px 4px 5px #272635ab;
}

.usernamInput:focus {
  width: 20.5vw;
  height: 31px;
  box-shadow: 4px 4px 5px #272635ab;
}

     body {background: #DAFFEF;}
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        .loading-container,
        .loading {
            height: 100px;
            position: relative;
            width: 100px;
            border-radius: 100%;
        }


        .loading-container { margin-left: 47.2vw; margin-top: 45vh;}

        .loading {
            border: 2px solid transparent;
            border-color: transparent black transparent #000;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

        .loading-container:hover .loading {
            border-color: transparent gray transparent gray;
        }
        .loading-container:hover .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: black;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 10px;
            font-weight: bold;
            margin-top: 45px;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 100px;
        }